.pagination{
    margin-bottom: 40px;
}

.tittle{
    font-size: 15px;
    font-family: sans-serif;
}

.credimg{
    padding:5px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    border: 2px solid #0C380B;
}

.caja-dni{
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.box-btn{
    padding-left: 20px;
    padding-right: 20px;
}

.btn-cred{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 700px;
    max-width: 100%;
    background: #92a646;
    color: #fff;
    border: 1px solid #000;
    padding: 2% 5px 2% 5px;
    text-align: center;
    cursor: pointer;
    font-size: medium;
}