img{
    display: block;
    margin: auto;
}

.container{
    display: block;
    margin: auto;
}

.credNA{
    margin-top: 50px;
    font-size: 30px;
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
}

.credDNI{
    margin-top: 40px;
    font-size:30px;
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
}

.credFE{
    margin-top: 90px;
    font-size: 30px;
    font-weight: normal;
    font-family: sans-serif;
    margin-bottom: 70px;
}