<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Credencial Digital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img src="assets/img/credencial-digitalV2.png" alt="">
    <div class="container">
      <ion-text class="ion-text-center">
        <p class="credNA">Nombre del Asociado</p>
        <p class="credDNI">DNI : 99999999 </p>
        <p class="credFE">Emitida el dd/mm/yyyy</p>
      </ion-text>
    </div>
  </div>
</ion-content>