<ion-content fullscreen="true">
  <div class="ion-text-center">
    <img src="assets/img/Logo.png" alt="">
  </div>
  <br><br>
  <div class="ion-text-center">
    <button ion-button (click)="goToNosotros()" class="btn">Nosotros</button>
  </div>
  <div class="ion-text-center">
    <button ion-button (click)="goToServicios()" class="btn">Servicios</button>
  </div>
  <div class="ion-text-center">
    <button ion-button (click)="goToCredenciales()" class="btn">Credenciales</button>
  </div>
  <div class="ion-text-center">
    <button ion-button (click)="goToComercios()" class="btn">Comercios</button>
  </div>
  <div class="ion-text-center">
    <button ion-button (click)="goToElSauce()" class="btn">El Sauce</button>
  </div>
  <div class="ion-text-center">
    <button ion-button (click)="goToContactos()" class="btn-end">Contactos</button>
  </div>
</ion-content>