ion-content {
    --ion-background-color: url(/assets/img/fondo-prueba.png);
    --color: white;
}

img {
    padding-top: 35vh;
    width: 60%;
    max-width: 200px;
}

.scale-up-center {
    animation: scale-up-center 0.4s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}